/*-- scss:defaults --*/

// Look up all the SASS variables here: https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables

// Colours
// $purple: #4E387E;
// $purple-light: #B89BEB;
// $purple-white: #FFEEFF;
// $green: #66A82D;
// $black: #0C090A;

// Fonts
$font-family-sans-serif: "Lato";
$font-family-monospace: "Ubuntu Mono";
$presentation-font-size-root: 30px;

// Headings
$presentation-heading-font: "Poetsen One";
$presentation-h2-font-size: 2em;